@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

:root {
  --primaryColor:#f09d51;
  --mainWhite:#fff;
  --mainBlack:#222;
  --mainGrey:#ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
    font-family: 'Fredoka One', cursive;
}
/*------navbar------*/

.navbar-center ul {
    margin: 0;
}

.navbar-center li {
    display: inline;
}

.navbar-center a {
    display: inline-block;
    padding: .5em;
    color: #40e0d0;
    text-decoration: none;
}
h4 {
  color: #40e0d0;
  position:relative;
right: -65px;
top: -2px;
}
.push {
  position:relative;
  right: -30px;
  top: -2px;
}

.navbar {
  background: var(--mainWhite);
  position: sticky;
  top: 0;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  background:rgb(0, 0, 0);
  z-index: 1;
}
.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
/*------------end of navbar------*/
/*----------------- middle section -------------*/
.mds {
  min-height: calc(100vh - 120px);
  background:url(background.jpg) center/cover
  no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.banner {
  text-align: center;
  background:rgba(225, 255, 255, 0.8);
  display: inline-block;
  padding: 2rem;
}
.banner-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
  margin: 20px;
  color: #40e0d0;
  width: inherit;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;

}

/* The animation code */
@keyframes example {
    from {
            color: #FF66CC;
    }
    to {
            color: #40e0d0;
    }
}

.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: #ff1ab3;
  color: var(--mainBlack);
  border:1px solid var(--mainTransition);
  cursor: pointer;
}
.banner-btn:hover {
  background:transparent;
  color: #ff1ab3;
}
/*---------------end of middle section-------------*/

.ncolor {
  color: purple;
}

#wallet {
  color: #ff1ab3;
}
#color {
  background-color: black;
}
.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-weight: normal;
   color: #ff1ab3;
    text-align: center;
    font-size: 2.5em;
}




.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}




.shop-item {
    margin: 30px;

}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #ff1ab3;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 200px;
    border-radius: 500px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
    color: #ff1ab3;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #ff1ab3;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
    color: #ff1ab3;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #ff1ab3;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
    color: #ff1ab3;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
    color: #ff1ab3;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
    color: #ff1ab3;
}

#carttotal{
    color: #333;
    font-size: 1.1em;
    color: #ff1ab3;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}
#reciept {
  height: 400px;
  width: 20%;
  z-index: 1;
  float: right;
  font-size: 20px;
animation-name: reciept;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes reciept {
    from {
            color: #ff66cc ;
    }
    to {
            color: #66ff99;
    }
}
