 html { 
 	background-image: url("https://picfiles.alphacoders.com/289/289861.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    }
#hd {
	padding: 50px;
	margin-top: 60px;
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 10px;
	width:83.5%;
	height:75px;
	background-color: #ff751a; 
	border: 1px solid black;

}
#ft {
	padding: 10px;
	margin-top: 10px;
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 60px;
	width:89.5%;
	height:60px;
	background-color: #ff751a;
	border: 1px solid black;
    opacity: 0.8;
}
#mid { 
	background-color: #ff751a;
	width: 54%;
	height: 400px;
	margin-top: 10px;
	margin-left: 60px;
	margin-right: 60px;
	border: 1px solid black;
	overflow: auto;
}
#ln {
	background-color: #ff751a;
	width: 15%;
	height: 400px;
	float: left;
	border: 1px solid black;
	margin-bottom: 10px;
	margin-left: 60px;
	margin-right: 10px;
	opacity: 0.8;

}
#rn {
	background-color: #ff751a;
	width: 20%;
	height: 400px;
	float: right;
	margin-left: 10px;
	margin-right: 60px;
	border: 1px solid black;
	opacity: 0.8;
}
a:link {
font-size:15px;
color:black;
}
a:hover {
font-size:20px;
color:yellow;
}
a:visited {
color:green;
font-size: 15px;
}
ul {
text-decoration:none;
}

ul.hlist {
color: black;
positiom: relative;
text-align: center;
}